
<app-header-l></app-header-l>

<br><br>
<h1 align="center" style="font-family: optima;">Pick 5 genres that you think you'd like more recommendations from</h1>

<br><br><br>
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;

<button id='fiction' (click)="fnChangeBorder('fiction');" mat-fab color="primary" style="height:105px; width: 105px;">Fiction</button>
&nbsp;&nbsp;&nbsp;&nbsp;

<button id='fantasy' (click)="fnChangeBorder('fantasy');" mat-fab color="primary" style="height:105px; width: 105px;">Fantasy</button>
&nbsp;&nbsp;&nbsp;&nbsp;

<button id='youngadult' (click)="fnChangeBorder('youngadult');" mat-fab color="primary" style="height:105px; width: 105px;">Young Adult</button>
&nbsp;&nbsp;&nbsp;&nbsp;
<button id='horror' (click)="fnChangeBorder('horror');" mat-fab color="primary" style="height:105px; width: 105px;">Horror</button>
&nbsp;&nbsp;&nbsp;&nbsp;
<button id='children' (click)="fnChangeBorder('children');" mat-fab color="primary" style="height:105px; width: 105px;">Children</button>
&nbsp;&nbsp;&nbsp;&nbsp;
<button id='mystery' (click)="fnChangeBorder('mystery');" mat-fab color="primary" style="height:105px; width: 105px;">Mystery</button>
&nbsp;&nbsp;&nbsp;&nbsp;
<button id='romance' (click)="fnChangeBorder('romance');" mat-fab color="primary" style="height:105px; width: 105px;">Romance</button>
&nbsp;&nbsp;&nbsp;&nbsp;
<button id='sciencefiction' (click)="fnChangeBorder('sciencefiction');" mat-fab color="primary" style="height:105px; width: 105px;">Science Fiction</button>
&nbsp;&nbsp;&nbsp;&nbsp;
<button id='nonfiction' (click)="fnChangeBorder('nonfiction');" mat-fab color="primary" style="height:105px; width: 105px;">Non Fiction</button>
&nbsp;&nbsp;&nbsp;&nbsp;
<button id='sequentialart' (click)="fnChangeBorder('sequentialart');" mat-fab color="primary" style="height:105px; width: 105px;">Sequential Art</button>
<br><br>



&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;

<button id='historical' (click)="fnChangeBorder('historical');" mat-fab color="primary" style="height:105px; width: 105px;">Historical</button>
&nbsp;&nbsp;&nbsp;&nbsp;

<button id='classic' (click)="fnChangeBorder('classic');" mat-fab color="primary" style="height:105px; width: 105px;">Classic</button>
&nbsp;&nbsp;&nbsp;&nbsp;

<button id='selfhelp' (click)="fnChangeBorder('selfhelp');" mat-fab color="primary" style="height:105px; width: 105px;">Self Help</button>
&nbsp;&nbsp;&nbsp;&nbsp;

<button id='biography' (click)="fnChangeBorder('biography');" mat-fab color="primary" style="height:105px; width: 105px;">Biography</button>
&nbsp;&nbsp;&nbsp;&nbsp;

<button id='humour' (click)="fnChangeBorder('humour');" mat-fab color="primary" style="height:105px; width: 105px;">Humour</button>
&nbsp;&nbsp;&nbsp;&nbsp;

<button id='adventure' (click)="fnChangeBorder('adventure');" mat-fab color="primary" style="height:105px; width: 105px;">Adventure</button>
&nbsp;&nbsp;&nbsp;&nbsp;

<button id='business' (click)="fnChangeBorder('business');" mat-fab color="primary" style="height:105px; width: 105px;">Business</button>
&nbsp;&nbsp;&nbsp;&nbsp;

<button id='poetry' (click)="fnChangeBorder('poetry');" mat-fab color="primary" style="height:105px; width: 105px;">Poetry</button>
&nbsp;&nbsp;&nbsp;&nbsp;

<button id='thriller' (click)="fnChangeBorder('thriller');" mat-fab color="primary" style="height:105px; width: 105px;">Thriller</button>
&nbsp;&nbsp;&nbsp;&nbsp;

<button id='plays' (click)="fnChangeBorder('plays');" mat-fab color="primary" style="height:105px; width: 105px;">Plays</button>
<br><br>



&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;

<button id='philosophy' (click)="fnChangeBorder('philosophy');" mat-fab color="primary" style="height:105px; width: 105px;">Philosophy</button>
&nbsp;&nbsp;&nbsp;&nbsp;

<button id='shortstories' (click)="fnChangeBorder('shortstories');" mat-fab color="primary" style="height:105px; width: 105px;">Short Stories</button>
&nbsp;&nbsp;&nbsp;&nbsp;

<button id='autobiography' (click)="fnChangeBorder('autobiography');" mat-fab color="primary" style="height:105px; width: 105px;">Autobiography</button>
&nbsp;&nbsp;&nbsp;&nbsp;

<button id='science' (click)="fnChangeBorder('science');" mat-fab color="primary" style="height:105px; width: 105px;">Science</button>
&nbsp;&nbsp;&nbsp;&nbsp;

<button id='art' (click)="fnChangeBorder('art');" mat-fab color="primary" style="height:105px; width: 105px;">Art</button>
&nbsp;&nbsp;&nbsp;&nbsp;

<button id='history' (click)="fnChangeBorder('history');" mat-fab color="primary" style="height:105px; width: 105px;">History</button>
&nbsp;&nbsp;&nbsp;&nbsp;

<button id='academic' (click)="fnChangeBorder('academic');" mat-fab color="primary" style="height:105px; width: 105px;">Academic</button>
&nbsp;&nbsp;&nbsp;&nbsp;

<button id='language' (click)="fnChangeBorder('language');" mat-fab color="primary" style="height:105px; width: 105px;">Language</button>
&nbsp;&nbsp;&nbsp;&nbsp;

<button id='asianliterature' (click)="fnChangeBorder('asianliterature');" mat-fab color="primary" style="height:105px; width: 105px;">Asian Literature</button>
&nbsp;&nbsp;&nbsp;&nbsp;

<button id='economics' (click)="fnChangeBorder('economics');" mat-fab color="primary" style="height:105px; width: 105px;">Economics</button>

<br><br><br>


&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;

&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;



<button mat-raised-button color="accent" style="height: 100px; width: 200px; font-size: large; font-family:optima;" (click)="finaliseGenres()">Done</button>