<mat-toolbar style=" background-image: url('./headerimage.png/'); height:70px;  ">
    <mat-toolbar-row>
      <h1 style="color: whitesmoke; font-size:30px; top:2%; position:absolute">Bookworm Inc</h1>
      <span class="menu-spacer"></span>
    
    
      <a>
        <div style=" height: 85px; width: 100%;top:-1%; position:absolute; font-family:optima;">
      <img align="center" src="./bookworminc.png/" style=" height:50%; top:15%; left: 14%; position: absolute;">
      
      
        </div>
     </a>

     <a>
        <div style=" height: 85px; width: 100%;top:-1%; position:absolute; font-family:optima;">
        <img align="center" src="./images/homeicon.png" style=" height:40%; top:25%; right: 27%; position: absolute;">
        </div>
     </a>

     <div style=" height: 85px; width: 100%;top:-1%; position:absolute; font-family:optima;">

        
        <mat-chip-list>
            <mat-chip  style="top:22%; right:13%; position:absolute;">Hi, Hanumani Ji</mat-chip>
        </mat-chip-list>
        
    </div>

    <button mat-raised-button color='accent' style=" height:45px; width:75px; top:2%; right:3%; position: absolute;">Log Out</button>
     
    

            
   </mat-toolbar-row> 
</mat-toolbar>

   
  
  