<mat-toolbar style=" background-image: url('./headerimage.png/'); height:70px;  ">
    <mat-toolbar-row>
      <h1 style="color: whitesmoke; font-size:30px; top:2%; position:absolute">Bookworm Inc</h1>
      <span class="menu-spacer"></span>
    
    
      
        <div style=" height: 85px; width: 100%;top:-1%; position:absolute; font-family:optima;">
      <img align="center" src="./bookworminc.png/" style=" height:50%; top:15%; left: 14%; position: absolute;">
      
      
        </div>
     

    

      <button mat-raised-button color="primary" (click)="goHome()" style="top:2%; right: 24%; position: absolute;">Home</button>
     

        
        <mat-chip-list>
            <mat-chip  style=" top:2%; right: 12%; position: absolute; font-family: optima;">Hi, {{username}}</mat-chip>
        </mat-chip-list>
        
  

    <button mat-raised-button [routerLink]="''" color='accent' style="top:2%; right:5%; position: absolute;">Log Out</button>
     
    

            
   </mat-toolbar-row> 
</mat-toolbar>

   
  
  