<app-header-l></app-header-l>

<img src={{imageurl}} width="200px" height="280px" style="top:17%;left:1%;position:absolute">
<h1 style="top:17%;left:18%;display:inline;position:absolute; font-family:optima;"><b>{{title}}</b></h1>
<h2 style="top:22%;left:18%;position:absolute; font-family:optima;">by {{author}}</h2>

<h5 style="top:28%;left:18%;position:absolute; font-family:optima;">{{year}}</h5>
<h5 style="top:28%;left:23%;position:absolute; font-family:optima;">{{ratingscount}}</h5>
<h5 style="top:28%;left:34%;position:absolute; font-family:optima;">Average Rating: {{rating}}</h5>



<button type="button" color="accent" style="top:37%;left:18%;display:inline;position:absolute; font-family:optima;">Read more</button>
<p align="justify" style="top:47%;left:18%;right:2%;font-size:16px;text-align:justify;display:inline;position:absolute; font-family:optima;">{{description}}</p><br>
<button type="button" color="accent" style="top:69%;left:1%;display:inline;position:absolute"> Read </button>
<button type="button" color="accent" style="top:69%;left:7%;display:inline;position:absolute"> Want to read</button>