
<app-header-l></app-header-l>
<br>
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;

<img id='img1' (click)="fnChangeBorder('img1');" src="https://images-na.ssl-images-amazon.com/images/I/61Fr9KLeY1L.jpg" style="height:145px; width:105px;">

<img id='img2' (click)="fnChangeBorder('img2');" src="https://images.gr-assets.com/books/1298557533m/154798.jpg">

<img id='img3' (click)="fnChangeBorder('img3');" src="https://images.gr-assets.com/books/1388224829m/373915.jpg">

<img id='img4' (click)="fnChangeBorder('img4');" src="https://images.gr-assets.com/books/1347899366m/7736086.jpg">

<img id='img5' (click)="fnChangeBorder('img5');" src="https://images.gr-assets.com/books/1309211401m/6310.jpg">

<img id='img6' (click)="fnChangeBorder('img6');" src="https://images.gr-assets.com/books/1468890477m/233093.jpg">

<img id='img7' (click)="fnChangeBorder('img7');" src="https://images.gr-assets.com/books/1327871908m/30120.jpg">

<img id='img8' (click)="fnChangeBorder('img8');" src="https://images.gr-assets.com/books/1441195131m/11230081.jpg">

<img id='img9' (click)="fnChangeBorder('img9');" src="https://images.gr-assets.com/books/1408926754m/17488.jpg">

<img id='img10' (click)="fnChangeBorder('img10');" src="https://images.gr-assets.com/books/1316730230m/6853.jpg">

<img id='img11' (click)="fnChangeBorder('img11');" src="https://images.gr-assets.com/books/1353277730m/11588.jpg">

<img id='img12' (click)="fnChangeBorder('img12');" src="https://images.gr-assets.com/books/1327871992m/43758.jpg">

<img id='img13' (click)="fnChangeBorder('img13');" src="https://images.gr-assets.com/books/1390426249m/23807.jpg">
<br><br>


&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;



<img id='img14' (click)="fnChangeBorder('img14');" src="https://images.gr-assets.com/books/1345813608m/91714.jpg">

<img id='img15' (click)="fnChangeBorder('img15');" src="https://images.gr-assets.com/books/1320399351m/1885.jpg">

<img id='img16' (click)="fnChangeBorder('img16');" src="https://images.gr-assets.com/books/1316972164m/5598113.jpg">

<img id='img17' (click)="fnChangeBorder('img17');" src="https://images.gr-assets.com/books/1435458683m/7082.jpg">

<img id='img18' (click)="fnChangeBorder('img18');" src="https://m.media-amazon.com/images/I/51+jk9Ja42L.jpg" style="height:145px;">

<img id='img19' (click)="fnChangeBorder('img19');" src="https://images.gr-assets.com/books/1327874534m/1622.jpg">

<img id='img20' (click)="fnChangeBorder('img20');" src="https://images.gr-assets.com/books/1390053681m/19063.jpg">

<img id='img21' (click)="fnChangeBorder('img21');" src="https://images.gr-assets.com/books/1470384630m/7315573.jpg">

<img id='img22' (click)="fnChangeBorder('img22');" src="https://images.gr-assets.com/books/1328868065m/1048645.jpg">

<img id='img23' (click)="fnChangeBorder('img23');" src="https://images.gr-assets.com/books/1281335912m/7148256.jpg">

<img id='img24' (click)="fnChangeBorder('img24');" src="https://images.gr-assets.com/books/1386864575m/8650.jpg">

<img id='img25' (click)="fnChangeBorder('img25');" src="https://images.gr-assets.com/books/1417900846m/29579.jpg">

<img id='img26' (click)="fnChangeBorder('img26');" src="https://images.gr-assets.com/books/1385738917m/15931.jpg">

<br><br>

&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;

<img id='img27' (click)="fnChangeBorder('img27');" src="https://images.gr-assets.com/books/1365173799m/11710373.jpg">

<img id='img28' (click)="fnChangeBorder('img28');" src="https://images.gr-assets.com/books/1327656754m/11.jpg">

<img id='img29' (click)="fnChangeBorder('img29');" src="https://images.gr-assets.com/books/1374049003m/10617.jpg">

<img id='img30' (click)="fnChangeBorder('img30');" src="https://images.gr-assets.com/books/1327920219m/2623.jpg">

<img id='img31' (click)="fnChangeBorder('img31');" src="https://images.gr-assets.com/books/1353467455m/13651.jpg">

<img id='img32' (click)="fnChangeBorder('img32');" src="https://images.gr-assets.com/books/1477802540m/13596809.jpg">

<img id='img33' (click)="fnChangeBorder('img33');" src="https://images-na.ssl-images-amazon.com/images/I/517g-hK4xLL._SX302_BO1,204,203,200_.jpg" style="height:145px;">

<img id='img34' (click)="fnChangeBorder('img34');" src="https://images.gr-assets.com/books/1304789462m/133241.jpg">

<img id='img35' (click)="fnChangeBorder('img35');" src="https://images.gr-assets.com/books/1309220205m/114166.jpg">

<img id='img36' (click)="fnChangeBorder('img36');" src="https://images.gr-assets.com/books/1344266315m/3228917.jpg">

<img id='img37' (click)="fnChangeBorder('img37');" src="https://images.gr-assets.com/books/1423763749m/6900.jpg">

<img id='img38' (click)="fnChangeBorder('img38');" src="https://images.gr-assets.com/books/1300270683m/91253.jpg">

<img id='img39' (click)="fnChangeBorder('img39');" src="https://images.gr-assets.com/books/1290480157m/7237456.jpg">
<br>

&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;


<img id='img40' (click)="fnChangeBorder('img40');" src="https://images.gr-assets.com/books/1453470736m/6463967.jpg">

<img id='img41' (click)="fnChangeBorder('img41');" src="https://images.gr-assets.com/books/1331721280m/49596.jpg">

<img id='img42' (click)="fnChangeBorder('img42');" src="https://images.gr-assets.com/books/1503127212m/10889279.jpg">

<img id='img43' (click)="fnChangeBorder('img43');" src="https://images.gr-assets.com/books/1348154483m/13596166.jpg">

<img id='img44' (click)="fnChangeBorder('img44');" src="https://images.gr-assets.com/books/1410716044m/194373.jpg">

<img id='img45' (click)="fnChangeBorder('img45');" src="https://images.gr-assets.com/books/1361039443m/41865.jpg">

<img id='img46' (click)="fnChangeBorder('img46');" src="https://images.gr-assets.com/books/1387141547m/2.jpg">

<img id='img47' (click)="fnChangeBorder('img47');" src="https://images.gr-assets.com/books/1436732693m/13496.jpg">

<img id='img48' (click)="fnChangeBorder('img48');" src="https://images.gr-assets.com/books/1360206420m/11870085.jpg">

<img id='img49' (click)="fnChangeBorder('img49');" src="https://images.gr-assets.com/books/1436788488m/18335634.jpg">

<img id='img50' (click)="fnChangeBorder('img50');" src="https://images.gr-assets.com/books/1400602661m/28186.jpg">

<img id='img51' (click)="fnChangeBorder('img51');" src="https://images.gr-assets.com/books/1303252999m/968.jpg">

<img id='img52' (click)="fnChangeBorder('img52');" src="https://images.gr-assets.com/books/1328093951m/10720733.jpg">
<br><br>

&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
<img id='img53' (click)="fnChangeBorder('img53');" src="https://images.gr-assets.com/books/1298411339m/34.jpg">

<img id='img54' (click)="fnChangeBorder('img54');" src="https://images.gr-assets.com/books/1470056948m/11235712.jpg">

<img id='img55' (click)="fnChangeBorder('img55');" src="https://images.gr-assets.com/books/1348442606m/237209.jpg">

<img id='img56' (click)="fnChangeBorder('img56');" src="https://images.gr-assets.com/books/1344269411m/6431790.jpg">

<img id='img57' (click)="fnChangeBorder('img57');" src="https://encrypted-tbn0.gstatic.com/images?q=tbn%3AANd9GcR4PhgPioFh-qjywotT-0QKUQrzu2h3bGws6CggBxt861wAUFSt&usqp=CAU" style="height:145px;">

<img id='img58' (click)="fnChangeBorder('img58');" src="https://images.gr-assets.com/books/1369504683m/10917.jpg">

<img id='img59' (click)="fnChangeBorder('img59');" src="https://images.gr-assets.com/books/1484565687m/77203.jpg">

<img id='img60' (click)="fnChangeBorder('img60');" src="https://images.gr-assets.com/books/1447303603m/2767052.jpg">


