<div style="background-color:goldenrod ; width:100% ;height:200px;  clear: both; position: absolute; height: 200px; bottom:0;">

	<mat-toolbar>
        <span style="left:10%; position:absolute;">About Us</span>
        <span style="right:14%; position: absolute;">Connect With Us</span>
    </mat-toolbar>

    <div name="About Us">
        
          <div matRipple [matRippleColor]="trigger" #trigger style="height:30px; top:40%; position:absolute; left:10%;">
            About Bookworm Inc.
          </div>
          

          <div matRipple [matRippleColor]="trigger1" #trigger1 style="height:30px; top:60%; position:absolute; left:10%;">
            Privacy Policy
          </div>
          

          <div matRipple [matRippleColor]="trigger2" #trigger2 style="height:30px; top:80%; position:absolute; left:10%;">
            Terms and Conditions
          </div>

    </div>

    <div name="Connect With Us">

  
        <img src="./images/fblike.png" style="height:35px; width:35px; right:25%; top:45%; position:absolute;">
        <img src="./images/instalike.png" style="height:35px; width:35px; right:20%; top:45%; position:absolute;">
        <img src="./images/twitterlike.png" style="height:35px; width:35px; right:15%; top:45%; position:absolute;">
        <img src="./images/linkedinlike.png" style="height:35px; width:35px; right:10%; top:45%; position:absolute;">

        <br>
        <p style="right:8%; top:80%; position:absolute;">Email us:&nbsp;do_not_email_us@fake_website.com</p>

    </div>


	<div  style="top:88%;left:41%;position: absolute; color:white;">
		
		<p>&copy;2020 Bookworm, Inc. All rights reserved</p>
    
<!-------------------------------------------------------------------------------------->
	
