<app-header-l></app-header-l>

<br><br>

<img src="./images/user_image.png" width="200px" height="270px" style="top:19%;left:10%;position:absolute; font-family: optima;">
<h1 style="top:27%;left:28%;display:inline;position:absolute; font-family: optima;"><b>Username</b>: &nbsp;&nbsp; {{username}}</h1>
<h2 style="top:34%;left:28%;position:absolute; font-family: optima;">Age: &nbsp;&nbsp; {{age}} </h2>
<h2 style="top:39%;left:28%;position:absolute; font-family: optima;">Email: &nbsp;&nbsp; {{emailid}}</h2>


<div  style="border-left: 5px solid black;
    height: 700px;
    width: 800px;
    position: absolute;
    left: 80%;
    margin-left: -3px;
    top: 9%;
    background-color:lavender;"></div>

    

    <button type="button" id="shelves" [routerLink] = "'/l/homepage'" mat-raised-button color="primary" style="top: 27%; left: 85%;  position: absolute; height: 85px; width: 150px;">Recommendations</button>

    <button type="button" id="shelves" [routerLink] = "'/l/shelves'" mat-raised-button color="accent" style="top: 47%; left: 85%;  position: absolute; height: 85px; width: 150px;">Your Shelves</button>
    
    <button mat-raised-button type="button" color="warn"  style="top: 67%; left: 85%;  position: absolute; height: 85px; width: 150px;" (click)="openDialog()">Delete Account</button>