
<app-header-l></app-header-l>

<br><br>
<h1 align="center" style="font-family: optima;">Pick 15 books that you think you'd like the best from this selection</h1>
<br><br>
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;

<img id='836218523' (click)="fnChangeBorder('836218523');" src="https://images-na.ssl-images-amazon.com/images/I/61Fr9KLeY1L.jpg" style="height:145px; width:105px;">

<img id='1401201911' (click)="fnChangeBorder('1401201911');" src="https://images.gr-assets.com/books/1298557533m/154798.jpg">

<img id='61147974' (click)="fnChangeBorder('61147974');" src="https://images.gr-assets.com/books/1388224829m/373915.jpg">

<img id='1423116968' (click)="fnChangeBorder('1423116968');" src="https://images.gr-assets.com/books/1347899366m/7736086.jpg">

<img id='142403881' (click)="fnChangeBorder('142403881');" src="https://images.gr-assets.com/books/1309211401m/6310.jpg">

<img id='039480001X' (click)="fnChangeBorder('039480001X');" src="https://images.gr-assets.com/books/1468890477m/233093.jpg">

<img id='60513098' (click)="fnChangeBorder('60513098');" src="https://images.gr-assets.com/books/1327871908m/30120.jpg">

<img id='446585025' (click)="fnChangeBorder('446585025');" src="https://images.gr-assets.com/books/1441195131m/11230081.jpg">

<img id='340796146' (click)="fnChangeBorder('340796146');" src="https://images.gr-assets.com/books/1408926754m/17488.jpg">

<img id='312362080' (click)="fnChangeBorder('312362080');" src="https://images.gr-assets.com/books/1316730230m/6853.jpg">

<img id='450040186' (click)="fnChangeBorder('450040186');" src="https://images.gr-assets.com/books/1353277730m/11588.jpg">

<img id='345419626' (click)="fnChangeBorder('345419626');" src="https://images.gr-assets.com/books/1327871992m/43758.jpg">

<img id='99446782' (click)="fnChangeBorder('99446782');" src="https://images.gr-assets.com/books/1390426249m/23807.jpg">
<br><br>


&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;



<img id='078512179X' (click)="fnChangeBorder('078512179X');" src="https://images.gr-assets.com/books/1345813608m/91714.jpg">

<img id='679783261' (click)="fnChangeBorder('679783261');" src="https://images.gr-assets.com/books/1320399351m/1885.jpg">

<img id='425227510' (click)="fnChangeBorder('425227510');" src="https://images.gr-assets.com/books/1316972164m/5598113.jpg">

<img id='345404475' (click)="fnChangeBorder('345404475');" src="https://images.gr-assets.com/books/1435458683m/7082.jpg">

<img id='143039563' (click)="fnChangeBorder('143039563');" src="https://m.media-amazon.com/images/I/51+jk9Ja42L.jpg" style="height:145px;">

<img id='743477545' (click)="fnChangeBorder('743477545');" src="https://images.gr-assets.com/books/1327874534m/1622.jpg">

<img id='375831002' (click)="fnChangeBorder('375831002');" src="https://images.gr-assets.com/books/1390053681m/19063.jpg">

<img id='525951652' (click)="fnChangeBorder('525951652');" src="https://images.gr-assets.com/books/1470384630m/7315573.jpg">

<img id='439636485' (click)="fnChangeBorder('439636485');" src="https://images.gr-assets.com/books/1328868065m/1048645.jpg">

<img id='1416563725' (click)="fnChangeBorder('1416563725');" src="https://images.gr-assets.com/books/1281335912m/7148256.jpg">

<img id='752224417' (click)="fnChangeBorder('752224417');" src="https://images.gr-assets.com/books/1386864575m/8650.jpg">

<img id='553803719' (click)="fnChangeBorder('553803719');" src="https://images.gr-assets.com/books/1417900846m/29579.jpg">

<img id='553816713' (click)="fnChangeBorder('553816713');" src="https://images.gr-assets.com/books/1385738917m/15931.jpg">

<br><br>

&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;

<img id='385344430' (click)="fnChangeBorder('385344430');" src="https://images.gr-assets.com/books/1365173799m/11710373.jpg">

<img id='345391802' (click)="fnChangeBorder('345391802');" src="https://images.gr-assets.com/books/1327656754m/11.jpg">

<img id='452277752' (click)="fnChangeBorder('452277752');" src="https://images.gr-assets.com/books/1374049003m/10617.jpg">

<img id='192833596' (click)="fnChangeBorder('192833596');" src="https://images.gr-assets.com/books/1327920219m/2623.jpg">

<img id='61054887' (click)="fnChangeBorder('61054887');" src="https://images.gr-assets.com/books/1353467455m/13651.jpg">

<img id='425263916' (click)="fnChangeBorder('425263916');" src="https://images.gr-assets.com/books/1477802540m/13596809.jpg">

<img id='140449264' (click)="fnChangeBorder('140449264');" src="https://images-na.ssl-images-amazon.com/images/I/517g-hK4xLL._SX302_BO1,204,203,200_.jpg" style="height:145px;">

<img id='60598328' (click)="fnChangeBorder('60598328');" src="https://images.gr-assets.com/books/1304789462m/133241.jpg">

<img id='006056251X' (click)="fnChangeBorder('006056251X');" src="https://images.gr-assets.com/books/1309220205m/114166.jpg">

<img id='316017922' (click)="fnChangeBorder('316017922');" src="https://images.gr-assets.com/books/1344266315m/3228917.jpg">

<img id='751529818' (click)="fnChangeBorder('751529818');" src="https://images.gr-assets.com/books/1423763749m/6900.jpg">

<img id='440800463' (click)="fnChangeBorder('440800463');" src="https://images.gr-assets.com/books/1300270683m/91253.jpg">

<img id='393068471' (click)="fnChangeBorder('393068471');" src="https://images.gr-assets.com/books/1290480157m/7237456.jpg">
<br>

&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;


<img id='393072231' (click)="fnChangeBorder('393072231');" src="https://images.gr-assets.com/books/1453470736m/6463967.jpg">

<img id='1600963943' (click)="fnChangeBorder('1600963943');" src="https://images.gr-assets.com/books/1331721280m/49596.jpg">

<img id='140123206X' (click)="fnChangeBorder('140123206X');" src="https://images.gr-assets.com/books/1503127212m/10889279.jpg">

<img id='1781162646' (click)="fnChangeBorder('1781162646');" src="https://images.gr-assets.com/books/1348154483m/13596166.jpg">

<img id='192123092' (click)="fnChangeBorder('192123092');" src="https://images.gr-assets.com/books/1410716044m/194373.jpg">

<img id='316015849' (click)="fnChangeBorder('316015849');" src="https://images.gr-assets.com/books/1361039443m/41865.jpg">

<img id='439358078' (click)="fnChangeBorder('439358078');" src="https://images.gr-assets.com/books/1387141547m/2.jpg">

<img id='553588486' (click)="fnChangeBorder('553588486');" src="https://images.gr-assets.com/books/1436732693m/13496.jpg">

<img id='525478817' (click)="fnChangeBorder('525478817');" src="https://images.gr-assets.com/books/1360206420m/11870085.jpg">

<img id='1406321346' (click)="fnChangeBorder('1406321346');" src="https://images.gr-assets.com/books/1436788488m/18335634.jpg">

<img id='786856866' (click)="fnChangeBorder('786856866');" src="https://images.gr-assets.com/books/1400602661m/28186.jpg">

<img id='307277674' (click)="fnChangeBorder('307277674');" src="https://images.gr-assets.com/books/1303252999m/968.jpg">

<img id='1444736930' (click)="fnChangeBorder('1444736930');" src="https://images.gr-assets.com/books/1328093951m/10720733.jpg">
<br><br>

&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
<img id='618346252' (click)="fnChangeBorder('618346252');" src="https://images.gr-assets.com/books/1298411339m/34.jpg">

<img id='312641893' (click)="fnChangeBorder('312641893');" src="https://images.gr-assets.com/books/1470056948m/11235712.jpg">

<img id='670038601' (click)="fnChangeBorder('670038601');" src="https://images.gr-assets.com/books/1348442606m/237209.jpg">

<img id='316036196' (click)="fnChangeBorder('316036196');" src="https://images.gr-assets.com/books/1344269411m/6431790.jpg">

<img id='439206472' (click)="fnChangeBorder('439206472');" src="https://encrypted-tbn0.gstatic.com/images?q=tbn%3AANd9GcR4PhgPioFh-qjywotT-0QKUQrzu2h3bGws6CggBxt861wAUFSt&usqp=CAU" style="height:145px;">

<img id='743454537' (click)="fnChangeBorder('743454537');" src="https://images.gr-assets.com/books/1369504683m/10917.jpg">

<img id='1594480001' (click)="fnChangeBorder('1594480001');" src="https://images.gr-assets.com/books/1484565687m/77203.jpg">

<img id='439023483' (click)="fnChangeBorder('439023483');" src="https://images.gr-assets.com/books/1447303603m/2767052.jpg">


<br><br><br>

&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;

&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;



<button mat-raised-button color="accent" style="height: 100px; width: 200px; font-size: large; font-family:optima;" (click)="finaliseBooks()">Done</button>