<app-header-l></app-header-l>

<br><br><br>
<h1 align="center" style="font-family: optima;">Hi {{username}}, here are your books:</h1>
<br><br><br><br>


    

<mat-tab-group dynamicHeight style="width: 100%; position:absolute;">
        <mat-tab label="Books you have read:">
    
  
    
    <p>
    <br><br><br>
    <img  style=" height:145px; left: 5%; position: absolute" src={{haveread[0]}}>
    <img  style="left: 15%; position: absolute" src={{haveread[1]}}>
    <img  style=" height:145px; left: 25%; position: absolute" src={{haveread[2]}}>
    <img  style=" left: 35%; position: absolute" src={{haveread[3]}}>
    <img  style="left: 45%; position: absolute" src={{haveread[4]}}>
     <br><br><br><br><br><br><br><br><br><br><br><br><br>
     <img  style=" height:145px; left: 5%; position: absolute" src={{haveread[5]}}>
     <img  style="left: 15%; position: absolute" src={{haveread[6]}}>
     <img  style=" height:145px; left: 25%; position: absolute" src={{haveread[7]}}>
     <img  style=" left: 35%; position: absolute" src={{haveread[8]}}>
     <img  style="left: 45%; position: absolute" src={{haveread[9]}}>
     <br><br><br><br><br><br><br><br><br><br><br><br><br>
   
   
   </p>
  <!--</div>-->
       </mat-tab>

     <mat-tab></mat-tab>
     <mat-tab></mat-tab>
     <mat-tab></mat-tab>
     <mat-tab></mat-tab>
     <mat-tab></mat-tab>
     <mat-tab></mat-tab>
     
     
       
       <mat-tab label="&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
       &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Books you want to read:">
    
  
       <p>
         <br><br><br>
         <img  style=" height:145px; left: 5%; position: absolute" src={{wanttoread[0]}}>
         <img  style="left: 15%; position: absolute" src={{wanttoread[1]}}>
         <img  style=" height:145px; left: 25%; position: absolute" src={{wanttoread[2]}}>
         <img  style=" left: 35%; position: absolute" src={{wanttoread[3]}}>
         <img  style="left: 45%; position: absolute" src={{wanttoread[4]}}>
          <br><br><br><br><br><br><br><br><br><br><br><br><br>
          <img  style=" height:145px; left: 5%; position: absolute" src={{wanttoread[5]}}>
          <img  style="left: 15%; position: absolute" src={{wanttoread[6]}}>
          <img  style=" height:145px; left: 25%; position: absolute" src={{wanttoread[7]}}>
          <img  style=" left: 35%; position: absolute" src={{wanttoread[8]}}>
          <img  style="left: 45%; position: absolute" src={{wanttoread[9]}}>
          <br><br><br><br><br><br><br><br><br><br><br><br><br>
        
        
        </p>
       </mat-tab>


    </mat-tab-group>


      